In [120]:
from pandas_datareader import data
import yfinance as yf
from datetime import datetime as dt
from bokeh.plotting import figure, show, output_file
from bokeh.embed import components
from bokeh.resources import CDN

In [111]:
start = dt(2022,1, 1)
end = dt(2023,1,15)
# data.DataReader(name="GOOG", data_source="yahoo",start=start,end=end)
data = yf.download("GOOG", start=start, end=end)
data

[*********************100%***********************]  1 of 1 completed

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2022-01-03 00:00:00-05:00,144.475494,145.550003,143.502502,145.074493,145.074493,25214000
2022-01-04 00:00:00-05:00,145.550507,146.610001,143.816147,144.416504,144.416504,22928000
2022-01-05 00:00:00-05:00,144.181000,144.298004,137.523499,137.653503,137.653503,49642000
2022-01-06 00:00:00-05:00,137.497498,139.686005,136.763504,137.550995,137.550995,29050000
2022-01-07 00:00:00-05:00,137.904999,138.254745,135.789001,137.004501,137.004501,19408000
...,...,...,...,...,...,...
2023-01-09 00:00:00-05:00,89.195000,90.830002,88.580002,88.800003,88.800003,22996700
2023-01-10 00:00:00-05:00,86.720001,89.474998,86.699997,89.239998,89.239998,22855600
2023-01-11 00:00:00-05:00,90.059998,92.449997,89.739998,92.260002,92.260002,25998800
2023-01-12 00:00:00-05:00,92.400002,92.620003,90.570000,91.910004,91.910004,22754200
2023-01-13 00:00:00-05:00,91.528000,92.980003,90.930000,92.800003,92.800003,18617800

In [112]:
def increase_decrease(closePrice, openPrice):
    if closePrice > openPrice:
        value = "Increase"
    elif openPrice > closePrice:
        value = "Decrease"
    else:
        value = "Equal"
    return value

data['Status'] = [increase_decrease(cPrice, oPrice) for cPrice, oPrice in zip(data.Close, data.Open)]

In [113]:
data

,Open,High,Low,Close,Adj Close,Volume,Status
Date,,,,,,,
2022-01-03 00:00:00-05:00,144.475494,145.550003,143.502502,145.074493,145.074493,25214000,Increase
2022-01-04 00:00:00-05:00,145.550507,146.610001,143.816147,144.416504,144.416504,22928000,Decrease
2022-01-05 00:00:00-05:00,144.181000,144.298004,137.523499,137.653503,137.653503,49642000,Decrease
2022-01-06 00:00:00-05:00,137.497498,139.686005,136.763504,137.550995,137.550995,29050000,Increase
2022-01-07 00:00:00-05:00,137.904999,138.254745,135.789001,137.004501,137.004501,19408000,Decrease
...,...,...,...,...,...,...,...
2023-01-09 00:00:00-05:00,89.195000,90.830002,88.580002,88.800003,88.800003,22996700,Decrease
2023-01-10 00:00:00-05:00,86.720001,89.474998,86.699997,89.239998,89.239998,22855600,Increase
2023-01-11 00:00:00-05:00,90.059998,92.449997,89.739998,92.260002,92.260002,25998800,Increase
2023-01-12 00:00:00-05:00,92.400002,92.620003,90.570000,91.910004,91.910004,22754200,Decrease
2023-01-13 00:00:00-05:00,91.528000,92.980003,90.930000,92.800003,92.800003,18617800,Increase

In [114]:
data["Middle"] = (data.Open+data.Close)/2
data["Height"] = abs(data.Open-data.Close)

In [115]:
data

,Open,High,Low,Close,Adj Close,Volume,Status,Middle,Height
Date,,,,,,,,,
2022-01-03 00:00:00-05:00,144.475494,145.550003,143.502502,145.074493,145.074493,25214000,Increase,144.774994,0.598999
2022-01-04 00:00:00-05:00,145.550507,146.610001,143.816147,144.416504,144.416504,22928000,Decrease,144.983505,1.134003
2022-01-05 00:00:00-05:00,144.181000,144.298004,137.523499,137.653503,137.653503,49642000,Decrease,140.917252,6.527496
2022-01-06 00:00:00-05:00,137.497498,139.686005,136.763504,137.550995,137.550995,29050000,Increase,137.524246,0.053497
2022-01-07 00:00:00-05:00,137.904999,138.254745,135.789001,137.004501,137.004501,19408000,Decrease,137.454750,0.900497
...,...,...,...,...,...,...,...,...,...
2023-01-09 00:00:00-05:00,89.195000,90.830002,88.580002,88.800003,88.800003,22996700,Decrease,88.997501,0.394997
2023-01-10 00:00:00-05:00,86.720001,89.474998,86.699997,89.239998,89.239998,22855600,Increase,87.980000,2.519997
2023-01-11 00:00:00-05:00,90.059998,92.449997,89.739998,92.260002,92.260002,25998800,Increase,91.160000,2.200005
2023-01-12 00:00:00-05:00,92.400002,92.620003,90.570000,91.910004,91.910004,22754200,Decrease,92.155003,0.489998
2023-01-13 00:00:00-05:00,91.528000,92.980003,90.930000,92.800003,92.800003,18617800,Increase,92.164001,1.272003

In [118]:
# Create the figure
p = figure(x_axis_type='datetime', width=1200,
           height=300, title='Candlestick Chart', outline_line_alpha=0.3, sizing_mode="scale_width")

hours_12 = 12*3600*1000

p.segment(x0='Date', y0='Low', x1='Date',
          y1='High', color='#3c3c3c', source=data)
p.rect(data.index[data.Status == "Increase"], data.Middle[data.Status == "Increase"],
       hours_12, data.Height[data.Status == "Increase"], fill_color="#3cb371", line_color="#787878")

p.rect(data.index[data.Status == "Decrease"], data.Middle[data.Status == "Decrease"],
       hours_12, data.Height[data.Status == "Decrease"], fill_color="#ff0000", line_color="#787878")

# Add the candlestick glyph
# p.segment(x0='Date', y0='Low', x1='Date',
#           y1='High', color='Black', source=data)
# p.vbar(x='Date', width=2, bottom='Open',
#        top='Close', color='Green', source=data)
# p.vbar(x='Date', width=2, bottom='Close',
#        top='Open', color='Red', source=data)

# Add axis labels and title
p.xaxis.axis_label = 'Date'
p.yaxis.axis_label = 'Price'

# Show the plot
# output_file("CandlestickChart.html")
# show(p)

script1, div1 = components(p)

In [122]:
cdn_js = CDN.js_files
cdn_css = CDN.css_files

In [123]:
cdn_js[0]

'https://cdn.bokeh.org/bokeh/release/bokeh-3.0.3.min.js'

In [126]:
cdn_css

[]