In [9]:
import pandas as pd

In [10]:
df1 = pd.DataFrame([[2, 4, 6], [10, 20, 30]])

In [11]:
df1

    0   1   2
0   2   4   6
1  10  20  30

In [12]:
df1 = pd.DataFrame([[2, 4, 6], [10, 20, 30]], columns=["Price", "Page", "Value"], index=["First", "Second"])

In [13]:
df1

        Price  Page  Value
First       2     4      6
Second     10    20     30

In [14]:
df2 = pd.DataFrame([{"Name": "John", "Age": 21}, {"Name": "Jack", "Age": 12}])
df2

   Name  Age
0  John   21
1  Jack   12

In [16]:
df1.Price

First      2
Second    10
Name: Price, dtype: int64